body{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
button{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: inline;
}
.inline{
    display: inline-block;
}
.flex-space-around{
    display: flex;
    justify-content: space-between;
}

.button{
    width: 100px;
    text-align: left;
    margin-right: 5px;
    padding: 5px;
}

h1{
    font-size: 1.6em;
    
}
h2{
    font-size: 1.4em;
}
h1, h2, li{
    color:aliceblue;
}

p, li{
    font-size: 1.2em;
}

.float-right{
    float: right;
}


.column{
    display: inline-block;
    width: 55px;
    margin: 0;
    margin-left: 5px;
    padding: 0;
}
.column2{
    display: inline-block;
    width: 55px;
    margin: 0;
    padding: 0;
}

.columnRight{
    display: inline-block;
    width: 35px;
    margin: 0;
    padding: 0;
}
.width100{
    width:100px;
}
.width140{
    width: 140px;
}
#maxInput{
    width: 75px;
    margin-left: 20px;
}

#instructions{
    width: 20%;
    padding: 0 30px;
    background-color: #424756;
    color: white;
}

.mid{
    width: 35%;
    min-width: 490px;
    text-align: left;
    background-color: #e1d798;
    min-height: 100vh;
    padding-left: 10px;
  
}

.black{
    color: black;
}

.options{
    margin-bottom: 5px;
    margin-top: 10px;
}
#weapons-list-options{
    width:15%;
    background-color: #6ea171;
    padding-left: 10px;
    min-width: 170px;
    color:aliceblue;
}

.unit-options{
    width: 30%;
    padding: 0 10px;
    background-color: #4d784e;
    min-height: 100vh;
    min-width: 320px;
    color: aliceblue;
}

.top{
    background-color:  	#675645;
    width: 100%;
    padding: 10px;
    margin-left: -10px;
    margin-top: -10px;
      min-height: 70px; 
}
.top-mid{
    background-color:  	#675645;
    width: 100%;
    padding: 10px;
    margin-left: -10px;
    margin-top: -10px;
    min-height: 70px; 

    
    /*  min-height: 70px;*/
}

.selections{
    color:black;
}

.remove-all-button{
    margin-right: 20px;
    font-size: 1.1em;
}

.max{
    display: inline;
    white-space:nowrap;
}

.max-entry{
    font-size: 0.7em;
}